<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Taskstir.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E165DC31DE6435100B156D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E165DD71DE6435100B156D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E165DE21DE6435100B156D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
